<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.eightbit.exam.mapper.WorkbookMapper">
  <select id="findAll" resultType="jp.eightbit.exam.entity.Workbook">
    select * from workbook
  </select>

  <select id="findOne" resultType="jp.eightbit.exam.entity.Workbook">
    select * from workbook where id = #{id}
  </select>

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into workbook(title, price) values(#{title}, #{price})
  </insert>

  <update id="update">
    update workbook set title=#{title}, price=#{price} where id= #{id}
  </update>

  <delete id="delete">
    delete from workbook where id = #{id}
  </delete>
</mapper>