body {
	margin: 2rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0 1px 3px 0 lightgray;
}

form .card {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.btn {
	margin: 1rem;
}

form .card-body, .form-label {
	width: 100%;
}

textarea {
	min-height: 5px;
	field-sizing: content;
}