<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="*{number} + '章 ' + *{name}" th:object="${chapter}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	</head>
	<body>
		<header class="header">
			<a class="btn btn-secondary" href="/">問題集オンライン</a>
		</header>
		<main>
			<div class="title-container">
				<h2 th:text="*{number} + '章 ' + *{name}" th:object="${chapter}"></h2>
				<a class="btn btn-primary" th:href="@{/workbook/{workbookId}/{chapterId}/question/create(workbookId=${chapter.workbookId}, chapterId=${chapter.id})}">問題を追加</a>
			</div>
			<div class="card" th:each="question : ${questionList}" th:object="${question}">
				<div class="card-body">
					<h2 class="card-title"><a th:href="@{/workbook/{workbookId}/{chapterId}/{id}(workbookId=${chapter.workbookId}, chapterId=${chapter.id}, id=*{id})}" th:text="'問題' + *{number}"></a></h2>
				</div>
				<a class="btn btn-primary" th:href="@{/workbook/{workbookId}/{chapterId}/{id}/edit(workbookId=${chapter.workbookId}, chapterId=${chapter.id}, id=*{id})}">編集</a>
				<form th:action="@{/question/delete/{id}(id=*{id})}" th:method="post">
					<input type="hidden" th:field="${chapter.workbookId}" />
					<input type="hidden" th:field="${chapter.id}" />
					<button class="btn btn-danger" type="submit">削除</button>						
				</form>
			</div>
			<a th:href="@{/workbook/{id}(id=${chapter.workbookId})}">前のページに戻る</a>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</body>
</html>