<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="*{number} + '章：' + *{name}" th:object="${chapter}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<header>
			<h1 th:text="*{number} + '章：' + *{name}" th:object="${chapter}"></h1>
			<a th:href="@{/workbook/{workbookId}/{chapterId}/question/create(workbookId=${chapter.workbookId}, chapterId=${chapter.id})}"><button>問題を追加</button></a>
		</header>
		<hr/>
		<main>
			<table th:each="question : ${questionList}" th:object="${question}">
				<tr>
					<td>
						<h2><a th:href="@{/workbook/{workbookId}/{chapterId}/{id}(workbookId=${chapter.workbookId}, chapterId=${chapter.id}, id=*{id})}" th:text="'問題' + *{number}"></a></h2>
					</td>
					<td>
						<a th:href="@{/workbook/{workbookId}/{chapterId}/{id}/edit(workbookId=${chapter.workbookId}, chapterId=${chapter.id}, id=*{id})}">
							<button>編集</button>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<p th:text="*{sentence}"></p>
					</td>
				</tr>
			</table>
			<a th:href="@{/workbook/{id}(id=${chapter.workbookId})}">前のページに戻る</a>
		</main>
	</body>
</html>