<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>問題集一覧</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<header>
			<h1>問題集一覧</h1>
			<a href="workbook/create"><button>問題集を追加</button></a>
		</header>
		<hr/>
		<main>
			<table>
				<tr th:each="workbook : ${workbookList}" th:object="${workbook}">
					<td><a th:href="@{/workbook/{id}(id=*{id})}" th:text="*{title}"></a></td>
					<td><p th:text="*{price} + '円'"></p></td>
					<td>
						<form th:action="@{/}">
							<button type="submit">購入</button>
						</form>
					</td>
					<td>
						<a th:href="@{workbook/edit/{id}(id=*{id})}">
							<button>編集</button>
						</a>
					</td>
					<td>
						<form th:action="@{workbook/delete/{id}(id=*{id})}" th:method="post">
							<button type="submit">削除</button>
						</form>
					</td>
				</tr>
			</table>
		</main>
	</body>
</html>