<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>問題集一覧</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	</head>
	<body>
		<header class="header">
			<a class="btn btn-secondary" href="/">問題集オンライン</a>
		</header>
		<main>
			<h1>問題集一覧</h1>
			<a href="workbook/create"><button class="btn btn-primary">問題集を追加</button></a>
			<div class="card"  th:each="workbook : ${workbookList}" th:object="${workbook}">
				<div class="card-body">
					<h2 class="card-title"><a th:href="@{/workbook/{id}(id=*{id})}" th:text="*{title}"></a></h2>
				</div>
					<a class="btn btn-primary" th:href="@{workbook/edit/{id}(id=*{id})}">編集</a>
					<form th:action="@{workbook/delete/{id}(id=*{id})}" th:method="post">
						<button class="btn btn-danger" type="submit">削除</button>
					</form>
			</div>
		</main>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>