<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${workbook.title}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<header>
			<h1 th:text=${workbook.title}></h1>
			<a href="/"><button>章を追加</button></a>
		</header>
		<hr/>
		<main>
			<table>
				<tr th:each="chapter : ${chapterList}" th:object="${chapter}">
					<td>
						<p th:text="*{number} + '章：'"></p>
					</td>
					<td>
						<a th:href="@{/workbook/{workbookId}/{id}(workbookId=${workbook.id}, id=*{id})}" th:text="*{name}"></a>
					</td>
				</tr>
			</table>
			<a href="/">問題集一覧に戻る</a>
		</main>
	</body>
</html>